//Colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$grid-projects-height: 50rem;
$grid-projects-card-height: 48rem;

//Dimensions
$clip-background-height: 85vh;
$top-viewport-height: 95vh;
$padding-top-viewport: 5rem;

//Experience Scrollbar:
$scrollbar-theme-color-track: rgba(0, 0, 0, 0.3);
$scrollbar-theme-color-thumb: rgba(0, 0, 0, 0.5);

//Footer
$footer-background-color: #55c57a;
$footer-icon-colors: #fff;
