@import './global_css/variables/variables';
@import './global_css/mixins/mixins';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  color: #777;
  line-height: 1.2;
  font-weight: 400;
  padding: 1.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: hidden;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  @include respond(tab-port) {
    padding: 0;
    overflow-x: hidden;
  }

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px $scrollbar-theme-color-track;
    -webkit-box-shadow: inset 0 0 6px $scrollbar-theme-color-track;
    border-radius: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    box-shadow: inset 0 0 6px $scrollbar-theme-color-thumb;
    -webkit-box-shadow: inset 0 0 6px $scrollbar-theme-color-thumb;
  }
}
