/************************************************Imports*************************************************/
@import "../../../../global_css/variables/variables";
@import "../../../../global_css/animations/animations";
@import "../../../../global_css/mixins/mixins";

/***********************************************TAGS******************************************************/

/***********************************************CLASSES******************************************************/
.btn {
	&,
	&:link,
	&:visited {
		text-transform: uppercase;
		text-decoration: none;
		padding: 1.5rem 4rem;
		display: inline-block;
		border-radius: 10rem;
		transition: all 0.2s;
		position: relative;
		font-size: 1.6rem;
		border: none;
		cursor: pointer;
	}

	&:active,
	&:focus {
		outline: none;
		transform: translateY(-1px);
		box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
	}

	&::after {
		content: "";
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 10rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all 0.4s;
	}

	&Animated {
		animation: moveInBottom 0.5s ease-out 0.75s;
		animation-fill-mode: backwards;
	}

	&:hover {
		transform: translateY(-3px);
		box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
	}
	&:hover::after {
		transform: scaleX(1.4) scaleY(1.6);
		opacity: 0;
	}

	&White {
		background-color: $color-white;
		color: $color-grey-dark;
	}
	&White::after {
		background-color: $color-white;
	}
}

.heading {
	height: $top-viewport-height;
	background-size: cover;
	background-position: center;
	position: relative;
	clip-path: polygon(0 0, 100% 0, 100% $clip-background-height, 0 100%);
	position: relative;
	scroll-behavior: smooth;

	&Primary {
		color: $color-white;
		text-transform: uppercase;
		backface-visibility: hidden;
		margin-bottom: 2rem;
	}

	&PrimaryMain {
		display: block;
		font-size: 6rem;
		font-weight: 400;
		letter-spacing: 1.5rem;
		margin-bottom: 1rem;
		animation-name: moveInRight;
		animation-duration: 1s;
		animation-timing-function: ease-out;
		@include respond(phone) {
			letter-spacing: 1rem;
			font-family: 5rem;
		}
	}

	&PrimarySub {
		display: block;
		font-size: 2rem;
		font-weight: 700;
		letter-spacing: 0.75rem;

		animation-name: moveInLeft;
		animation-duration: 1s;
		animation-timing-function: ease-out;
		@include respond(phone) {
			letter-spacing: 0.5rem;
		}
	}
}

.logo {
	height: 5rem;

	&box {
		position: absolute;
		top: 4rem;
		left: 4rem;
	}

	&:hover {
		animation-name: rotateKrishnaFeather;
		animation-duration: 0.8s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
}

.textBox {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
/*********************************************KEY FRAMES*****************************************************/

/*********************************************MEDUA QUERIES**************************************************/
@media screen and (max-width: 480px) {
	.header {
		height: 90vh;
	}
}
